.c-corp {
    background-image: url("../images/corporate/corp_bg.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    height: 1224px;
    @include mq(lg, max) {
        height: 1991px;
    }

    .c-corp__container {
        max-width: 1200px;
        margin: auto;
        padding: 0 20px;
        padding-top: 50px;
        padding-bottom: 80px;
    }

    .c-corp__wrapper {
        .c-corp__heading {
            margin: auto;
            max-width: 500px;
            height: 95px;
            border: 2px solid #000;
            border-radius: 3px;
            padding: 18px 0;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 50px;

            > span {
                display: block;
                font-size: 2rem;
                font-weight: bold;
                color: #00ada0;
                line-height: 1;
            }

            > h2 {
                font-size: 2.6rem;
                font-weight: bold;
                color: #000;
                line-height: 1;
            }
        }

        .c-corp__title {
            text-align: center;
            font-size: 1.4rem;
            font-weight: 400;
            color: #000;
            line-height: 25px;
            margin-bottom: 50px;
        }

        .c-corp__body {
            @include mq(lg, max) {
                max-width: 592px;
                margin: auto;
            }
            .c-corp__list {
                display: flex;
                flex-wrap: wrap;
                margin: -18px -12px;

                > li {
                    width: 50%;
                    padding: 18px 12px;
                    @include mq(lg, max) {
                        width: 100%;
                    }

                    > a {
                        display: block;
                        height: 224px;
                        position: relative;

                        > figure {
                            width: 320px;
                            height: 210px;
                            border: 3px solid #fff;
                        }

                        > .c-corp__content {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            background-color: #fff;
                            box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
                            width: 285px;
                            min-height: 199px;
                            padding-left: 20px;
                            padding-top: 25px;

                            > h3 {
                                font-size: 1.8rem;
                                font-weight: bold;
                                line-height: 25px;
                                color: #000;
                            }

                            > span {
                                display: block;
                                font-size: 1.2rem;
                                font-weight: 400;
                                line-height: 22px;
                                color: #000;
                            }
                            > p {
                                font-size: 1.4rem;
                                font-weight: bold;
                                line-height: 24px;
                                color: #00ada0;
                            }

                            .c-corp__category {
                                display: inline-block;
                                background-color: #cccccc;
                                border-radius: 10px;
                                padding: 0 9px;
                                font-size: 1.2rem;
                                font-weight: 400;
                                line-height: 21px;
                                text-align: center;
                                color: #000;
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }

            .c-corp__link {
                display: block;
                position: relative;
                background-color: #00ada0;
                max-width: 450px;
                height: 60px;
                margin: auto;
                margin-top: 32px;
                box-shadow: 4px 4px 0px 0px #000;

                > p {
                    text-align: center;
                    font-size: 1.6rem;
                    font-weight: bold;
                    color: #fff;
                    line-height: 60px;
                }

                > i {
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 2rem;
                    line-height: 1;
                    color: #fff;
                }
            }
        }
    }
}
